@charset "utf-8";
/****************************首页*********************************/
.container{
  padding-top:20px;
}
 /*焦点图*/
.focus-box{
  width: 690px;
  height: 400px;
  overflow: hidden;
}
.ad-box{
  width: 285px;
  height: 400px;
  text-align: center;
  background: #fff;
}

.brand-box{
  margin:20px 0;
  .hd{
    margin-bottom: 10px;
  }
  .title{
    background: url("../images/hot_tit.png") 0 0 no-repeat scroll;
    text-indent: -9999px;
  }
}
.brand-left{
  width: 300px;
  overflow: hidden;
}
.brand-center{
  width: 380px;
  margin-left: 10px;
  ul{
    width: 400px;
  }
  li{
    position: relative;
    float: left;
    width: 126px;
    height: 74px;
    margin:-1px;
    border:1px solid #eee;
    background: #fff;
    z-index: 1;
    &:hover{
      border:1px solid  #fb664a;
      z-index: 10;
    }
    img{
      width: 126px;
      height: 74px;
    }
  }
}
.brand-right{
  width: 300px;
  background: #fff;
  overflow: hidden;
}

/*新闻资讯*/
.section03{
  background: #fff;
}
.news-box{

  .item{
    position: relative;
    height: 145px;
    padding:15px;
    margin-top: -1px;
    border:1px solid #eee;
    z-index: 1;
    transition:all .3s;
    &:hover{
      border:1px solid #c3c3c3;
      z-index: 10;
    }
  }
  .news-pic{
    width: 200px;
    height: 145px;
    overflow: hidden;
    img{
      transition:all .3s ease-in;
      &:hover{
        transform:scale(1.1);
      }

    }
  }
  .desc{
    position: relative;
    height: 145px;
    overflow: hidden;
    margin-left: 240px;
    h4{
      margin-bottom: 10px;
      font-size: 14px;
      font-weight: 700;
    }
    p{
      color: #ccc;
    }

    .ft{
      position: absolute;
      bottom: 0;
      li{
        float: left;
        margin-left: 20px;
        height: 22px;
        line-height: 22px;
        span{
          position: relative;
          top:-5px;
          padding-left: 10px;
        }
      }
    }
  }
}

.side-box{
  padding: 15px 10px 0 0;
}
.mod-box{
  .hd{
    h3{
      margin-bottom: 15px;
      font-size: 14px;
    }
  }
}
.maybe-like{
  margin-bottom: 20px;
  .item{
    height: 80px;
    margin-bottom: 10px;
    img{
      float: left;
    }
    .desc{
      margin-left: 90px;
      overflow: hidden;
    }
  }

}
.smart-life{
  .item{
    height: 28px;
    line-height: 28px;
    margin-bottom: 8px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    span{
      display: block;
      float: left;
      width: 20px;
      height: 20px;
      line-height: 20px;
      margin:5px 10px 0 0;
      border-radius: 50%;
      color: #fff;
      text-align: center;
      background: #555;
    }
  }
  .hot span{
    background: #f5575a;
  }
}

.smart-sports{
  margin-top:20px;
  padding: 8px;
  background: #fafafa;
  overflow: hidden;
  h3{
    height: 30px;
    padding:10px;
    text-align: center;
    font-size: 22px;
    color: #ff288c;
  }
  ul{
    width: 1100px;
  }
  li{
    position: relative;
    float: left;
    margin-right: 10px;
    &:hover{
      .text{
        opacity: 0.5;
      }
    }
  }
  .text{
    position: absolute;
    left: 0;
    top:0;
    width: 238px;
    height: 220px;
    line-height: 220px;
    font-size: 24px;
    text-align: center;
    background: #fff;
    opacity: 0;
    transition:all 0.5s ease-in;
  }
}