
/*-----------------------------购物流程页面---------------------------------*/
.order-progress{ width:486px; margin:20px auto 0;}
.order-progress .progress-1,.order-progress .progress-2,.order-progress .progress-3{ height:23px; padding-top:23px;background:url(../images/order-progress.png) 0 0 no-repeat scroll;}
.order-progress .progress-1{ background-position:0 0; }
.order-progress .progress-2{background-position:0 -50px;}
.order-progress .progress-3{background-position:0 -100px;}
.order-progress li{ float:left; width:162px; text-align:center; color:#ccc;}
.order-progress .progress-1 .step-1,.order-progress .progress-2 .step-2,.order-progress .progress-3 .step-3{ color:#7ABD54; font-weight:700;}
.order-address-page{ background-color:#F7F7F7; border:1px solid #ACB1BA; margin:30px auto;}
.mod-address .header{ float:left;width:102px;}
.mod-address .header h2 {
    color: #444444;
    font-family: "Microsoft YaHei","微软雅黑";
    font-size: 16px;
    font-weight: bold;
    padding-top: 14px;
    text-align: center;
}
.mod-address .content{ float:left; width:896px; background-color:#fff;}
.mod-address .content .container{ padding:14px 20px;}
.mod-address input ,.mod-address select,.mod-address textarea{
	border: 1px solid #B7B7B7;
    box-shadow: 0 1px #E1E1E1 inset;
    padding: 3px 4px;
	}
.mod-address .address-list-block .address-list li {
    line-height: 30px;
    padding-left: 32px;
    padding-right: 160px;
    position: relative;
}
.zone-editaddress {
    display: inline-block;
    line-height: 34px;
    padding-left: 8px;
    width: 600px;
}
.zone-editaddress {
}
.zone-editaddress dl.unit-line dt {
    float: left;
    line-height: 26px;
    text-align: left;
    width: 66px;
}
.zone-editaddress .letter-2 {
    margin: 0 6px;
}
.zone-editaddress .letter-3 {
    margin-left: 24px;
}
.zone-editaddress dl.unit-line dd {
    float: left;
    width: 530px;
}
.zone-editaddress .unit-line .split {
    margin: 0 4px;
}
.zone-editaddress .input-select {
    height: 26px;
    margin: 0 9px 0 0;
    padding: 4px;
    width: 100px;
}
.zone-editaddress .input-username, .zone-editaddress .input-post {
    width: 90px;
}
.zone-editaddress .input-address {
    height: 50px;
    width: 315px;
}
.zone-editaddress .input-mobile {
    width: 224px;
}
.zone-editaddress .input-phonecode, .zone-editaddress .input-phonesub {
    width: 50px;
}
.zone-editaddress .input-phonenumber {
    width: 80px;
}
.zone-editaddress .phone-block {
    position: relative;
}
.zone-editaddress .phone-block-tips {
    background: url(../images/phone-gl.png) no-repeat scroll 0 0;
    color: #999999;
    height: 40px;
    left: 310px;
    line-height: 40px;
    padding-left: 16px;
    position: absolute;
    top: 14px;
    width: 200px;
}
.zone-editaddress .msg {
    margin-left: 4px;
    vertical-align: bottom;
}
.zone-editaddress .valid-error {
    background:url(../images/tips01.png) no-repeat scroll 0 2px;
    color: #FF0000;
    padding-left: 16px;
}
.zone-editaddress .valid-ok {
    background: url(../images/tips02.png) no-repeat scroll 0 0;
    display: inline-block;
    height: 20px;
    padding-left: 16px;
    width: 20px;
}
.mod-address a {
    color: #225588;
}
.mod-address .inline-block {
    display: inline-block;
}
.mod-address .inline-block {
}
.mod-address .fd-gray {
    color: #999999;
}
.mod-address .msg {
    vertical-align: bottom;
}
.mod-address .valid-error {
    background: url(../images/tips01.png) no-repeat scroll 0 0;
    color: #FF0000;
    padding-left: 16px;
}
.mod-address .unit-line dt {
    float: left;
    text-align: left;
    width: 66px;
}
.mod-address .unit-line dt.temp-tip {
    width: 200px;
}
.mod-address .unit-line dd {
    float: left;
    width: 770px;
}
.mod-address .block {
    display: none;
}
.mod-address .loading-block {
    display: block;
    padding: 54px 0;
    text-align: center;
}
.mod-address .unit-line .letter-2 {
    margin: 0 6px;
}
.mod-address .unit-line .letter-3 {
    margin-left: 24px;
}
.mod-address .address-info-block {
    line-height: 24px;
    padding-left: 8px;
}
.mod-address .address-info-block .edit-address-info {
    margin-right: 10px;
}
.mod-address .address-list-block .address-list li {
    line-height: 30px;
    padding-left: 32px;
    padding-right: 160px;
    position: relative;
}
.mod-address .address-list-block .address-list li.firstadd {
    padding-left: 10px;
}
.mod-address .address-list-block .address-list li.disabled {
    color: #999999;
}
.mod-address .address-list-block .address-list .select-radio {
    font-size: 12px;
    left: 10px;
    margin: 0;
    padding: 0;
    position: absolute;
    top: 9px;
}
.mod-address .address-list-block .address-list li.checked {
    background-color: #FAF6F1;
}
.mod-address .address-list-block .address-list label {
    cursor: pointer;
}
.mod-address .address-list-block .address-list .panel {
    position: absolute;
    right: 0;
    top: 0;
}
.mod-address .address-list-block .address-list li.editli {
    background-color: #FFFFFF;
}
.mod-address .address-list-block .address-list li.editli .mod-address-dialog {
    padding-left: 0;
}
.mod-address .address-list-block .address-list li.editli .panel, .mod-address .address-list-block .address-list li.editli .select-label {
    display: none;
}
.mod-address .address-list-block .address-list li.editli .select-radio {
    vertical-align: top;
}
.mod-address .address-list-block .panel a {
    margin: 0 8px;
}
.mod-address .address-list-block .isdefault {
    color: #999999;
}
.mod-address .address-list-block .import-tips {
    color: #999999;
    margin-left: 12px;
}
.mod-address .address-list-block .import-tips a {
    margin: 0 4px;
}

/*
*2014-3-18
*购物车
*/
.mod-sure-order{ border-top:1px solid #ccc; }
.myCarts .myCarts-list{table-layout: fixed;width: 100%;border-collapse: collapse;}
.myCarts .myCarts-list a{ color:#3366cc;}
.myCarts-list td{line-height: 1.5;padding:8px 5px;border: 1px solid #D4E7FF; text-align:center;}
.myCarts-list .thead{ background-color:#f0f7fe;border: 1px solid #D4E7FF;border-bottom:0 none;}
.myCarts-list .thead th{height:30px;}
.myCarts-list .col-chk{width:56px;text-align:left;}
.myCarts-list .col-name{width:300px;text-align:left;}
.myCarts-list .col-price-unit{width:90px;}
.myCarts-list .col-amount{width:100px;}
.myCarts-list .col-price-total{width:100px;}
.myCarts-list .col-name .pic{float:left;display:inline;margin-right:20px;}
.col-name .pic img{width:50px;height:50px;}
.col-name .desc{float:left;width:200px;overflow:hidden; word-wrap:break-word;}
.col-name .spec{ color:#808080;}
.myCarts-list tbody .col-price-total { color:#ec2b2f; font-family:Arial; font-size:14px; font-weight:700;}
.myCarts-list tbody .col-name{padding:8px 10px;}
.myCarts-list .col-opt a{padding:0 5px;}
.unit-finecontrol .text{width:36px;height:14px; line-height:14px;padding:3px 4px; border:1px solid #B7B7B7; box-shadow:0 1px #E1E1E1 inset;}
.unit-finecontrol .minus,.unit-finecontrol .plus{ position:relative;top:-11px; *top:2px!important;display:inline-block;width:13px; height:13px;margin-top:4px;border:1px solid #B7B7B7; font-size:0; background:url(../images/finecontrol.png) 0 1px no-repeat scroll; cursor:pointer;}
.unit-finecontrol .plus{ background-position:1px -23px;}
.myCarts .total{margin:20px 0;padding-right:60px;text-align:right; color:#444444}
.myCarts .total span{ color:#ff0000; font-weight:700;}
.myCarts .total em{ margin:0 3px;font-size:14px; color:#aaa;font-family:"Arial";}
.myCarts .sub-Order{margin-bottom:30px;}
.sub-Order .gobtn{float:right;display:block;width:128px;height:36px;margin-right:30px; background:url(../images/common-icon2.png) 0 -356px no-repeat scroll; text-indent:-9999px; cursor:pointer;}
.sub-Order .gobtn:hover{ background-position:0 -393px;}
.sub-Order .continue{  display:block;width:100px;height:30px; line-height:33px; text-align:center; background:url(../images/common-icon2.png) 0 -440px no-repeat scroll; text-indent:-9999px;}
/*购物车没有商品*/
.shoppingcart_list{ margin:20px 0; border:1px solid #ddd; background-color:#F3F3F3;}
.empty_cart{ height:98px; padding:20px 0 20px 440px; background:url(../images/icon_empty.png) 280px 0 no-repeat scroll;}
.empty_cart p{ line-height:25px;}
.empty_cart a{ color:#ED1D25;}
.order-ok{ padding:20px 0 20px 100px;}
.order-ok h3{ height:50px; line-height:50px; font-size:22px; font-family:"微软雅黑"; font-weight:600; padding-left:60px; background:url(../images/cartIcon1.png) 0 0 no-repeat scroll;}
.order-ok  p{ line-height:30px; padding-left:60px;}
.order-ok .taozi{color:#ED1D25;}
.order-ok .return{ color:#CC3300;}
/*
*猜你喜欢
*/
.maylike{padding:0 10px;}
.maylike h3{
	background-color: #DDEAF2;
    border-bottom: 1px solid #CEDAEA;
    height: 34px;
    line-height: 34px;
    padding-left: 25px;
}
.maylike h3 span{display:inline-block;height:29px;margin-top:4px;padding:0 12px;cursor:pointer;}
.maylike h3 .current{background-color:#fff;border:1px solid #cedaea;border-bottom:1px solid #fff;font-weight:bold;}
.maylike li{float:left;width:130px;margin:0 20px;overflow:hidden;}
.maylike .g-title{height:40px;line-height:20px;overflow:hidden;}
.maylike .g-price span{color:#999;font-family: arial;margin-right:3px;}
.maylike .g-price strong{
    color: #FF4400;
    font-family: verdana,arial;
    font-weight: bold;
	}
.maylike .pic-con{display:table-cell;width:130px;vertical-align:middle;text-align:center;}
.pic-wrap{ position:relative;}
.pic-wrap .pic-scroll{ width:850px; margin:10px auto;}
.pic-wrap .prev,.pic-wrap .next{ display:block; position:absolute; top:68px;width:40px; height:62px; background:url(../images/btn.png) 0 0 no-repeat scroll; text-indent:-9999px;}
.pic-wrap .prev{ left:0; background-position:0 -62px;}
.pic-wrap .next{ right:0; background-position:-50px -62px;}
.pic-wrap .prev:hover{background-position:0 0;}
.pic-wrap .next:hover{background-position:-50px 0;}

/*2014-7-9弹出登录框*/
#pop_login {
    border: 4px solid #D9DCDA;
    display:block;
    height: auto;
    margin: 110px 0 0 200px;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 580px;
	opacity:0;
	filter:Alpha(opactiy=0);
    z-index:2000;
	-webkit-transition:all 0.2s ease-in 0s;
	-webkit-transition:all .2s ease-in;
	-moz-transition:all .2s ease-in;
	-ms-transition:all .2s ease-in;
	-o-transition:all .2s ease-in;
	transition:all .2s ease-in;
	-webkit-transform:scale(0);
	-moz-transform:scale(0);
	-ms-transform:scale(0);
	-o-transform:scale(0);
	transform:scale(0);
}

#pop_login .close_btn{ position:absolute; right:10px; top:5px; cursor:pointer; font-weight:normal;}
#pop_login .close_btn:hover{ color:#f00;}
#pop_login .user_box{ background:#fff; padding-bottom:10px;}
#pop_login .user_form{ width:350px; margin-left:14px;}
#pop_login .user_form .text{ width:200px; font-family:Arial;}
#pop_login .quick-reg{ width:174px; padding-left:14px;}
#pop_login .user_form .lab_name{ font-size:12px;}

.pop_shadow {
    background: none repeat scroll 0 0 #666666;
    display: none;
    height: 100%;
    left: 0;
    opacity: 0.5;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    z-index:1005;
}