/*
Error: Invalid CSS after "...t:333pxoverflow": expected ";", was ":hidden;}"
        on line 594 of sass/layout.scss

589: .product .org-price{ float:right; text-decoration:line-through;}
590: .product .disc-price{ color:#f67400;}
591: 
592: /*用户评论*\/
593: .article-section{}
594: .review-wrap{ width:750px;height:333pxoverflow:hidden;}
595: .review{padding:15px; background-color:#f7f7f7; border:1px solid #ececec;}
596: .review .rev-title{height:30px; line-height:30px; border-bottom:1px solid #f27200; font-family:"微软雅黑";}
597: .review .rev-title h3{ float:left; padding-right:12px;border-bottom:1px solid #cdcdcd; color:#f27200; font-size:16px; font-weight:500;}
598: .rev-list{ width:724px;}
599: .rev-list li{ float:left;width:334px; height:62px;padding:10px;margin:6px 6px 0 0;border:1px solid #ececec; background-color:#fff;}

Backtrace:
sass/layout.scss:594
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1167:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1101:in `expected'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1096:in `tok!'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:761:in `block in try_declaration'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:1141:in `rethrow'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:766:in `try_declaration'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:696:in `declaration_or_ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:661:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:642:in `block'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:636:in `ruleset'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:660:in `block_child'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:653:in `block_contents'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:117:in `stylesheet'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/scss/parser.rb:42:in `parse'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:393:in `_to_tree'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:368:in `_render_with_sourcemap'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/engine.rb:285:in `render_with_sourcemap'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:490:in `update_stylesheet'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:215:in `block in update_stylesheets'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `each'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:209:in `update_stylesheets'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:470:in `on_file_changed'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/sass-3.4.9/lib/sass/plugin/compiler.rb:328:in `block in watch'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:282:in `call'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:282:in `_process_changes'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:246:in `block in _wait_for_changes'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:229:in `loop'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:229:in `_wait_for_changes'
c:/Ruby193/lib/ruby/gems/1.9.1/gems/listen-2.8.3/lib/listen/listener.rb:318:in `block in _start_wait_thread'
*/
body:before {
  white-space: pre;
  font-family: monospace;
  content: "Error: Invalid CSS after \"...t:333pxoverflow\": expected \";\", was \":hidden;}\"\A         on line 594 of sass/layout.scss\A \A 589: .product .org-price{ float:right; text-decoration:line-through;}\A 590: .product .disc-price{ color:#f67400;}\A 591: \A 592: /*用户评论*/\A 593: .article-section{}\A 594: .review-wrap{ width:750px;height:333pxoverflow:hidden;}\A 595: .review{padding:15px; background-color:#f7f7f7; border:1px solid #ececec;}\A 596: .review .rev-title{height:30px; line-height:30px; border-bottom:1px solid #f27200; font-family:\"微软雅黑\";}\A 597: .review .rev-title h3{ float:left; padding-right:12px;border-bottom:1px solid #cdcdcd; color:#f27200; font-size:16px; font-weight:500;}\A 598: .rev-list{ width:724px;}\A 599: .rev-list li{ float:left;width:334px; height:62px;padding:10px;margin:6px 6px 0 0;border:1px solid #ececec; background-color:#fff;}"; }
