@charset "UTF-8";
$ui-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
$ui-corner-all :0.5em;
$border:1px solid #ccc;
$font-family-base:'Microsoft Yahei';
$font-size-base :10px;
$line-height-base:1em;
$link-color:#333;
$baseMargin:10px;
$displayNone:none;
body {
    background: none repeat scroll 0 0 #fff;
    color: #666666;
    font: $font-size-base*1.2 "宋体",Arial,Verdana;
}
html, body, div, span, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, address, big, cite, code, del, em, font, img, ins, small, strong, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend {
    margin: 0;
    padding: 0;
}
ol, ul {
    list-style: none outside none;
}
:focus {
    outline: 0 none;
}
a {
    color: #666666;
	text-decoration:none;
}
a:hover, a:active {
    color: #fa8649;
	text-decoration:underline;
}
a img {
    border: 0 none;
}
fieldset, img{border:0 none;}
img {
    vertical-align: middle;
}
table {
    empty-cells: show;
}
ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
em,s, i, u {
    font-style: normal;
}
button::-moz-focus-inner, input[type="reset"]::-moz-focus-inner, input[type="button"]::-moz-focus-inner, input[type="submit"]::-moz-focus-inner, input[type="file"] > input[type="button"]::-moz-focus-inner {
    border: medium none;
    padding: 0;
}


.fl {
    float: left;
}
.fr {
    float: right;
}
.fn {
    float: none;
}
.al {
    text-align: left;
}
.ac {
    text-align: center;
}
.ar {
    text-align: right;
}
.hidden{ display:none;}
.clr {
    clear: both;
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    overflow: hidden;
}
.clearfix:after {
    clear: both;
    content: ".";
    display: block;
    height: 0;
    visibility: hidden;
}
.clearfix {
    display: inline-table;
    display: block;
}
* + html .clearfix {
    min-height: 1%;
}
.overflow {
    overflow: hidden;
}
.m, .mt, .mc, .mb, .sm, .smt, .smc, .smb {
    overflow: hidden;
}
.m, .sm {
    margin-bottom: $baseMargin;
}
.mt, .smt {
    cursor: default;
}
.w1002{ width:1002px;margin:0 auto}
.grid200{ width:200px;}
.grid780{ width:780px;}
